---
layout: home
edit: 2022-09-29
---
<div class="user-details">
<h2> Me and this website </h2>
        <p style="text-align: justify;"> 
                &nbsp;&nbsp;&nbsp;&nbsp;
                I am an undergraduate student currently at Tsinghua University majoring in computer science. 
                I am eager to explore myself and the world. 
                This website records my daily life and my journey of acquiring knowledge briefly. 
                I wish this website could witness my growth and development.
        </p>
<!-- <div class="analytics"  style="border: solid lightgrey; border-radius: 5px;">
        <h3> Analytics </h3>
        {% include clustrmap.html style="js" %}
        <p> <small> If you are not seeing a map, please disable Ad block and refresh </small></p>
</div> -->
</div>

<div class="permlinks">
<h2>Recent Posts</h2>
<dl>
        {% for post in site.posts limit:3 %}
        <dt><code>{{ post.date | date_to_string }} </code><i class="fas fa-angle-double-right" aria-hidden="true"></i><a href="{{ post.url }}">{{ post.title }}</a> &nbsp;{% include status-indicator.html status=post.status%}
        {% if post.description %}
<dd style="text-align: justify">{{ post.description | markdownify }}
        </dd>
        {% endif %}
        {% endfor %}
        <p>... <a href="/blog">Full Posts List</a> </p>
</dl>

<h2>Contact Me </h2>
<ul>
    <li>"email:         zgy20010917@gmail.com"</li>
    <li>"github:        http://github.com/guangyu-zhao"</li>
    <li>"facebook:      Guangyu Zhao"</li>
    <li>"instagram:     jellerode"</li>
    <li>"twitter:       @Rosuroul"</li>
    <li>"wechat:        frenzyfreeze"</li>
    <li>"phone number:  +8618811227506"</li>
</ul>

</div >
